footer {
  background: $primary-color;
  padding-top: 90px;
  padding-bottom: 20px;

  @media (max-width: 767px) {
    padding-top: 50px;
  }

  .footer-middle {
    margin-bottom: 50px;
    small {
      @include body-text(18px, 600, $white);
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        line-height: 50px;

        a {
          @include body-text(16px, 400, $white);
          transition: $transitions;
          border: none !important;
          text-decoration: none;
        }
      }
    }

    .newsletter {
      color: $primary-color;

      .input-group {
        width: 100%;
      }

      input {
        padding: 10px 0 10px 10px !important;
        font-size: 14px !important;
        height: 50px;
        width: 60%;
        background: transparent;
        border: 1px solid $text-color;
        color: $white;
        border-radius: 5px 0 0 5px;
      }

      button {
        background: $primary-color;
        font-size: 14px;
        color: $white;
        padding-left: 25px;
        padding-right: 25px;
        z-index: 0 !important;
        height: 50px;
        width: 40%;
      }
    }
  }

  .footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    .logo-box {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      border: 2px solid $white;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 767px) {
        height: 110px;
        width: 110px;
      }

      @media (max-width: 600px) {
        height: 80px;
        width: 80px;

        svg {
          width: 60px !important;
          height: 60px !important;
        }
      }
    }
  }
}
