.hero {
  // height: 100vh;
  width: 100%;

  .carousel {
    .carousel-indicators {
      margin-bottom: 150px;

      @media (max-width: 650px) {
        margin-bottom: 80px;
      }

      button {
        height: 5px;
        width: 50px;
        border-radius: 4px;
      }
    }

    .carousel-inner {
      position: relative;

      .carousel-item {
        position: relative;
        height: 100vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #10101070;
          z-index: 1;
        }
      }

      .contents {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        text-align: center;
        width: 850px;
        z-index: 2;
        padding: 0 10px;

        @media (max-width: 991px) {
          width: 100%;
        }

        h1 {
          @include heading(64px, 600, $white);
          margin-bottom: 40px;

          @media (max-width: 991px) {
            font-size: 54px;
            margin-bottom: 30px;
          }

          @media (max-width: 500px) {
            font-size: 35px;
            margin-bottom: 20px;
          }
        }

        p {
          @include body-text(22px, 400, $white);
          margin-bottom: 60px;
          line-height: 40px;

          @media (max-width: 500px) {
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 30px;
          }
        }

        button {
          @include buttons($button-color);
          margin: 0 auto;
          color: $white;
          padding: 20px 50px;
          border-radius: 20px;
          font-weight: 600;
          font-size: 20px;

          @media (max-width: 767px) {
            font-size: 14px;
            padding: 15px 30px;
          }
        }
      }
    }
  }
}

// marquee
.marquee {
  background: $primary-color;
  @include body-text(20px, 600, $white);
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 7px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}
