.hero {
  height: 112vh;
  background: $primary-color;
  width: 100%;

  .carousel {
    .carousel-indicators {
      margin-bottom: 150px;

      button {
        height: 5px;
        width: 50px;
        border-radius: 4px;
      }
    }

    .carousel-inner {
      height: 100vh;
      position: relative;

      .carousel-item {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #10101070;
          z-index: 1;
        }
      }

      .contents {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        text-align: center;
        width: 850px;
        z-index: 2;

        h1 {
          @include heading(64px, 600, $white);
          margin-bottom: 40px;
        }

        p {
          @include body-text(24px, 400, $white);
          margin-bottom: 60px;
          line-height: 45px;
        }

        button {
          @include buttons($button-color);
          margin: 0 auto;
          color: $white;
          padding: 25px 50px;
          border-radius: 20px;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }

  .marquee {
    @include body-text(20px, 600, $white);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 7px;
  }
}
