/* Navbar Styling */
.navbar {
  background: $white;
  position: fixed;
  width: 100%;

  .main-container {
    display: flex;
    align-items: center !important;
    justify-content: space-between;

    .navbar-brand {
      border: none !important;
    }

    .mobile-navbar {
      column-gap: 20px;
      list-style-type: none;
      display: none;
      margin: 0;

      @media (max-width: 991px) {
        display: flex;
      }

      @media (max-width: 360px) {
        margin-top: 20px;
      }

      .nav-item {
        cursor: pointer;
        position: relative;

        .badge {
          height: 20px;
          max-width: 20px;
          border-radius: 50%;
          background: $primary-color;
          color: $white;
          position: absolute;
          top: -12px;
          right: -12px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
        }
      }
    }

    .navbar-nav {
      &.web-nav {
        @media (max-width: 991px) {
          display: none;
        }
      }

      @media (max-width: 992px) {
        &:first-child {
          margin-top: 20px;
        }
      }

      &:last-child {
        margin-top: 0;
      }

      .nav-item {
        margin-right: 25px;
        cursor: pointer;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          font-size: 20px;
          border: none !important;
          font-weight: 400;
          cursor: pointer;

          span {
            &:focus {
              outline: none !important;
              box-shadow: none !important;
              border: none !important;
            }
          }
        }

        .active {
          color: $button-color;
          font-weight: 700;
        }

        .badge {
          height: 20px;
          max-width: 20px;
          border-radius: 50%;
          background: $primary-color;
          color: $white;
          position: absolute;
          top: -12px;
          right: -12px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
        }
      }
    }

    .navbar-toggler {
      border: none !important;
      color: $black;
    }
  }
}
