.page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.pagination-container {
  display: flex;
  list-style-type: none;
  padding-left: 0;

  .pagination-item {
    padding: 0 12px;
    height: 40px;
    text-align: center;
    margin: auto 4px;
    color: $text-color;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 50%;
    line-height: 1.43;
    font-size: 20px;
    min-width: 40px;
    font-weight: 500;
    justify-content: center;

    &:first-child {
      margin-left: 0 !important;
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: light-color;
      cursor: pointer;
    }

    &.selected {
      background-color: $primary-color;
      color: $white;
    }

    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
