.products {
  background: $secondary-color;
  width: 100%;
  padding: 80px 0;

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      column-gap: 20px;
      row-gap: 20px;
    }

    @media (max-width: 250px) {
      grid-template-columns: 1fr;
    }
  }

  .view-all {
    @include buttons($primary-color);
    margin: 80px auto 0 auto;
    padding: 15px 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    @media (max-width: 350px) {
      width: 100%;
    }
  }
}
