.products {
  background: $secondary-color;
  width: 100%;
  padding: 80px 0;

  .product-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }

  .view-all {
    @include buttons($primary-color);
    margin: 80px auto 0 auto;
    padding: 20px 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 24px;
  }
}
