.similar-product {
  margin-top: 80px;

  h1 {
    @include heading(36px, 600, $text-color);
    margin-bottom: 40px;
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .product-image {
      height: 280px;

      @media (max-width: 767px) {
        height: 300px;
      }

      @media (max-width: 565px) {
        height: 200px;
      }

      @media (max-width: 365px) {
        height: 140px;
      }
    }

    .product-content {
      @media (min-width: 768px) {
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }

        button {
          font-size: 14px;
        }
      }

      @media (min-width: 1000px) {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 20px;
        }

        button {
          font-size: 16px;
        }
      }
    }
  }
}
