.similar-product {
  margin-top: 80px;

  h1 {
    @include heading(27px, 600, $text-color);
    margin-bottom: 40px;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 767px) {
      font-size: 25px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      column-gap: 20px;
      row-gap: 20px;
    }

    @media (max-width: 278px) {
      grid-template-columns: 1fr;
    }
  }
}
