// color declaration
$primary-color: #27493e;
$secondary-color: #faf7f2;
$button-color: #27493e;
$section-color: #f1f9f5;
$white: #ffffff;
$black: #000000;
$text-color: #333333;
$border-color: #e1e6ef;
$off-white: #fafafa;
$light-color: rgba(118, 116, 116, 0.5);
