// color declaration
$primary-color: #27493e;
$secondary-color: #faf7f2;
$button-color: #27493e;
$section-color: #f1f9f5;
$white: #ffffff;
$black: #000000;
$text-color: #191919;
$border-color: #e1e6ef;
// $border-color: #faf7f2;
$light-color: #1010107c;
$hover-color: #27493eb2;
$red-color: red;
