@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus,
input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

body {
  font-size: 16px;
  font-family: $primary-font;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e1e6ef;
    border-radius: 10px;
    margin-left: 5px;
  }
}

// styles. for product skeleton
.skeletal-image {
  border-radius:20px!important;

  @media (max-width: 500px) {
    height: 150px !important;
    border-radius: 20px!important;
  }

  @media (max-width: 365px) {
    width: 100% !important;
  }
}

.skeletal-top {
  @media (max-width: 500px) {
    width: 100% !important;
  }
}

.skeletal-bottom {
  @media (max-width: 500px) {
    width: 100% !important;
  }
}
