.payment-card {
  padding:20px 0px;
  border:1px solid $primary-color;
  border-radius:15px;
  background:$white;
  position:relative;

  .bi{
    position:absolute;
    right:20px;
    top:10px; 
    color:$primary-color;
  }

  h3 {
      @include body-text(15px, 500, $text-color);
      margin-bottom: 10px;
        padding: 0 20px;
  
    }

  h2 {
      @include body-text(18px, 700, $primary-color);
      margin-bottom: 10px;
      padding:0 20px;
  
    }
  
    p {
      @include body-text(13px, 500, $light-color);
      text-align:center;
  
      @media (max-width: 565px) {
        margin-bottom: 10px;
      }
    }
}