.all-products {
  padding-top: 120px;
  padding-bottom: 80px;

  .heading-section {
    height: 50px;
    font-weight: 500;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;
    cursor: pointer;

    p {
      margin: 0;
    }
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
    margin-top: 40px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .product-image {
      height: 280px;

      @media (max-width: 767px) {
        height: 300px;
      }

      @media (max-width: 565px) {
        height: 200px;
      }

      @media (max-width: 365px) {
        height: 140px;
      }
    }

    .product-content {
      @media (min-width: 768px) {
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }

        button {
          font-size: 14px;
        }
      }

      @media (min-width: 1000px) {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 20px;
        }

        button {
          font-size: 16px;
        }
      }
    }
  }
}
