.all-products {
  padding-top: 120px;
  padding-bottom: 80px;

  @media (max-width: 278px) {
    padding-top: 140px;
  }

  .heading-section {
    height: 50px;
    font-weight: 500;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;
    cursor: pointer;

    p {
      margin: 0;
    }
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
    margin-top: 40px;

    @media (min-width: 1440px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      column-gap: 20px;
      row-gap: 20px;
    }

    @media (max-width: 250px) {
      grid-template-columns: 1fr;
    }

    .product-loading {
      height: 900px;
    }
  }

  // favourites
  .main-favourite-empty {
    border-radius: 10px;
    padding: 150px 10px;
    width: 100%;
    text-align: center;

    .favourite-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
      }

      .image-box {
        height: 150px;
        width: 150px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px;
      }
    }

    .start-shopping {
      padding: 15px 35px;
      background: $primary-color;
      color: $white;
      border-radius: 5px;
      border: none;
      outline: none;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
