.cart {
  padding-top: 120px;
  padding-bottom: 80px;

  .heading-section {
    font-weight: 500;
    margin-bottom: 40px;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
    }
  }

  //   cart items
  .cart-items {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    padding-right: 50px;

    @media (max-width: 991px) {
      padding-right: 0;
    }

    .cart-div {
      display: flex;
      align-items: center;
      column-gap: 28px;

      @media (max-width: 450px) {
        column-gap: 10px;
      }

      .cart-image {
        height: 160px;
        width: 160px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid $border-color;
        background: $border-color;
        object-fit: cover;

        @media (max-width: 450px) {
          height: 140px;
          width: 120px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .cart-content {
        h4 {
          @include heading(20px, 500, $text-color);
          margin-bottom: 12px;

          @media (max-width: 500px) {
            font-size: 14px;
          }
        }

        h3 {
          @include heading(20px, 700, $text-color);
          margin-bottom: 12px;

          @media (max-width: 500px) {
            font-size: 14px;
          }
        }

        .color {
          height: 20px;
          width: 40px;
          margin-bottom: 12px;
        }

        .quantities {
          border: 1px solid $primary-color;
          border-radius: 8px;
          padding: 0px;
          width: 129px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 40px;
          transition: $transitions;

          @media (max-width: 500px) {
            height: 35px;
            width: 100px;
          }

          p {
            margin: 0;
          }

          .bi {
            display: block;
            cursor: pointer;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .color-div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 5px;
          padding: 0;
          margin-top: 12px;

          .actual-color {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            cursor: pointer;
            border: 3px solid $border-color;
          }

          .active-color {
            border: 3px solid $primary-color;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            transition: var(--transition);
          }
        }
      }
    }

    .delete {
      cursor: pointer;
    }
  }

  // clear cart
  .clear-cart {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 991px) {
      margin-bottom: 50px;
    }

    button {
      background: transparent;
      color: red;
      text-decoration: underline;
      font-size: 18px;
      border: none;
    }
  }

  .order-summary {
    background: $secondary-color;
    width: 100%;
    border-radius: 30px;
    padding: 40px 24px;
    position: sticky;
    top: 100px;

    @media (max-width: 767px) {
      padding: 40px 10px;
    }

    h4 {
      @include heading(20px, 500, $text-color);
      margin-bottom: 20px;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }

    .order-box {
      overflow: auto;
      margin-bottom: 20px;
    }

    .order-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 17px;

      p {
        @include body-text(16px, 400, $text-color);
      }
    }

    h5 {
      @include heading(16px, 600, $text-color);
    }

    button {
      @include buttons($primary-color);
      padding: 30px;
      width: 100%;
      height: 56px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
      margin-top: 40px;
      border-radius: 10px;

      @media (max-width: 500px) {
        font-size: 16px;
        padding: 10px 20px;
      }
    }
  }

  // empty cart styles

  .main-cart-empty {
    border-radius: 10px;
    padding: 150px 10px;
    width: 100%;
    text-align: center;

    .cart-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
      }

      .image-box {
        height: 150px;
        width: 150px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px;
      }
    }

    .start-shopping {
      padding: 15px 35px;
      background: $primary-color;
      color: $white;
      border-radius: 5px;
      border: none;
      outline: none;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
