.checkout {
  padding-top: 120px;
  padding-bottom: 80px;

  .heading-section {
    height: 50px;
    font-weight: 500;
    margin-bottom: 40px;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
    }
  }

  h2 {
    color: $primary-color;
    font-size: 28px;
  }

  .information {
    margin-top: 30px;
    // overflow: auto;

    .top {
      display: flex;
      align-items: center;
      column-gap: 30px;
      border-radius: 4px;
      margin-bottom: 40px;

      button {
        @include body-text(18px, 400, $text-color);
        background: transparent;
        border: none;
        padding-bottom: 10px;
        border-bottom: 4px solid transparent;
        transition: $transitions;

        @media (max-width: 500px) {
          font-size: 14px;
        }

        &.active {
          border-bottom: 4px solid $primary-color;
        }
      }
    }

    .bottom {
      margin-top: 24px;

      h4 {
        @include heading(20px, 600, $text-color);
        margin-bottom: 16px;
      }

      p {
        @include body-text(16px, 400, $text-color);
        margin-bottom: 16px;
      }

      .checkout-address-card {
        padding: 20px 0px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background: $white;
        position: relative;
        transition: $transitions;
        cursor: pointer;
        width: 350px;
        margin-top: 20px;

        @media (max-width: 500px) {
          width: 100%;
        }

        &:hover {
          transform: scale(0.99);
        }

        .bi-check-circle-fill {
          position: absolute;
          right: 10px;
          top: 10px;
          color: $primary-color;
          font-size: 20px;
        }

        h3 {
          @include body-text(16px, 500, $text-color);
          margin-bottom: 10px;
          padding: 0 10px;
        }

        p {
          @include body-text(14px, 500, $light-color);
          padding: 0 10px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .form-box {
    margin-bottom: 29px;
    padding-right: 50px;

    @media (max-width: 991px) {
      padding-right: 0;
    }

    label {
      @include body-text(18px, 500, $text-color);
      display: block;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    input {
      @include input($border-color);
      width: 100%;
      border-radius: 4px;
      height: 50px;
      font-size: 16px;
      color: $text-color;
      background: #fafafa;

      &:focus {
        border: 1px solid $primary-color;
      }
    }

    .form-select {
      width: 100%;
      border-radius: 4px;
      height: 50px;
      font-size: 16px;
      color: $text-color;
      background: #fafafa;
      border: 1px solid $border-color;

      &:focus {
        border: 1px solid $primary-color;
      }
    }
  }

  .order-summary {
    background: $secondary-color;
    width: 100%;
    border-radius: 30px;
    padding: 40px 24px;
    position: sticky;
    top: 100px;

    @media (max-width: 991px) {
      margin-top: 50px;
    }

    @media (max-width: 767px) {
      padding: 40px 10px;
    }

    h4 {
      @include heading(20px, 500, $text-color);
      margin-bottom: 20px;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }

    .order-box {
      overflow: auto;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .order-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 17px;

      p {
        @include body-text(16px, 400, $text-color);

        @media (max-width: 500px) {
          font-size: 14px;
        }
      }
    }

    h5 {
      @include heading(16px, 600, $text-color);

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    button {
      @include buttons($primary-color);
      padding: 30px;
      width: 100%;
      height: 56px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      margin-top: 40px;
      border-radius: 10px;
    }
  }
}
