.auth {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  /* login left */
  .auth-left {
    width: 50%;

    @media (max-width: 768px) {
      display: none;
    }

    .carousel {
      position: relative;

      .back {
        border: 1px solid $white;
        border-radius: 4px;
        height: 40px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 14px;
        cursor: pointer;
        transition: $transitions;
        z-index: 100;
        margin: 30px auto 0 auto;

        .bi {
          color: $white;
        }

        &:hover {
          background: $hover-color;
        }
      }

      .carousel-indicators {
        position: absolute;
        bottom: 35%;
        text-align: left;
        margin: 0 left;

        button {
          height: 5px;
          width: 150px;
          border-radius: 4px;
        }
      }

      .carousel-inner {
        position: relative;

        .carousel-item {
          position: relative;
          height: 100vh;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #10101070;
            z-index: 1;
          }
        }

        .contents {
          position: absolute;
          bottom: 40%;
          z-index: 2;
          text-align: center;

          @media (max-width: 991px) {
            width: 100%;
          }

          h1 {
            @include heading(40px, 600, $white);
            margin-bottom: 10px;

            @media (max-width: 991px) {
              font-size: 30px;
            }

            @media (max-width: 500px) {
              font-size: 24px;
            }
          }

          p {
            @include body-text(18px, 400, $white);
            line-height: 25px;
            padding: 0 10px;

            @media (min-width: 1000px) {
              padding: 0 50px;
            }

            @media (max-width: 500px) {
              font-size: 14px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .image-box {
      img {
        width: 105px;
        height: 100%;
        margin-bottom: 10px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .auth-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100%;
    }

    .auth-form {
      width: 60%;
      margin: 0 auto;

      @media (max-width: 600px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 375px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      h1 {
        @include heading(22px, 700, $primary-color);
        margin-bottom: 10px;
      }

      small {
        @include body-text(14px, 400, $light-color);
        display: block;
        margin-bottom: 20px;

        b {
          color: $primary-color;
        }

        a {
          color: $primary-color;
        }
      }

      .form-box {
        position: relative;
        margin-bottom: 10px !important;

        label {
          @include body-text(16px, 600, $light-color);
          margin-bottom: 5px;
          display: block;
        }

        input {
          @include input($border-color);
          width: 100%;

          &:focus {
            border: 1px solid $primary-color;
          }
        }

        .phoneinput input {
          background: transparent;
          border: none !important;
          outline: none !important;
          padding-top: 2px;
        }

        .password-forgot {
          font-size: 12px;
          color: $primary-color;
          text-align: right;
          margin-top: 3px;
          cursor: pointer;
          display: block;
        }

        .input_feedback {
          color: $red-color;
          margin-top: 5px;
          font-size: 12px;
          margin-bottom: 0px;
        }

        button {
          @include buttons($primary-color);
          height: 55px;
          width: 100%;
        }
      }
    }
  }
}

.auth-right::-webkit-scrollbar {
  width: 8px;
}

.auth-right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-color);
  border-radius: 10px;
}

.auth-right::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}
