.product-card {
  .product-image {
    height: 390px;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .add-to-cart {
      background: $light-color;
      border: none;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      transition: $transitions;
      font-size: 20px;
      color: $white;
      transform: translateY(100%);
      cursor: pointer;
    }

    &:hover {
      .add-to-cart {
        transform: translateY(0);
      }
    }
  }

  .product-content {
    text-align: center;

    h3 {
      @include body-text(28px, 500, $text-color);
      margin-bottom: 5px;
    }

    p {
      @include body-text(24px, 700, $text-color);
      margin-bottom: 16px;
    }

    button {
      @include body-text(20px, 600, $text-color);
      background: none;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
