.product-card {
  .product-image {
    height: 230px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: $light-color;
    border: 1px solid $border-color;

    @media (max-width: 767px) {
      border-radius: 8px;
    }

    @media (max-width: 565px) {
      height: 150px;
    }

    @media (max-width: 365px) {
      height: 140px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .favourite {
      position: absolute;
      top: 20px;
      cursor: pointer;
      transform: translateX(-100%);
      transition: $transitions;

      @media (max-width: 500px) {
        top: 10px;
      }
    }

    .item-cart {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      @media (max-width: 500px) {
        top: 10px;
        right: 10px;
      }
    }

    .add-to-cart {
      background: $light-color;
      border: none;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      transition: $transitions;
      font-size: 16px;
      color: $white;
      transform: translateY(100%);
      cursor: pointer;

      @media (max-width: 767px) {
        font-size: 16px;
        height: 40px;
      }

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    &:hover {
      .add-to-cart {
        transform: translateY(0);
      }

      .favourite {
        transform: translateX(0);
        left: 20px;

        @media (max-width: 500px) {
          left: 10px;
        }
      }
    }
  }

  .product-content {
    text-align: center;

    h3 {
      @include body-text(14px, 500, $text-color);
      margin-bottom: 5px;

      @media (max-width: 565px) {
        font-size: 12px;
      }
    }

    p {
      @include body-text(18px, 700, $text-color);
      margin-bottom: 5px;

      @media (max-width: 565px) {
        font-size: 14px;
      }
    }

    button {
      @include body-text(16px, 600, $text-color);
      background: none;
      border: none;

      @media (max-width: 565px) {
        font-size: 14px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
