.success-modal {
  width: 600px !important;
  margin-top: 130px;
  border-radius: 30px !important;

  @media (max-width: 600px) {
    width: 95vw !important;
    max-width: 95vw !important;
  }

  .success {
    padding: 50px 25px;
    position: relative;
    border-radius: 30px;
    background: $white;

    @media (max-width: 600px) {
      padding: 50px 10px;
    }

    h4 {
      @include body-text(22px, 500, $text-color);
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      @include body-text(16px, 400, $text-color);
      margin-bottom: 30px;
      text-align: center;
    }

    button {
      @include buttons($primary-color);
      margin: 0 auto;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      color: $white;
      padding: 20px 30px;
    }
  }
}
