.orders {
  background: $secondary-color;
  width: 100%;
  padding: 50px 20px;

  @media (max-width: 600px) {
    padding: 50px 10px;
  }

  .order-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    @media (min-width: 1440px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }

    .order-card {
      .order-image {
        height: 200px;
        margin-bottom: 10px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        background: $light-color;
        border: 1px solid $border-color;

        @media (max-width: 767px) {
          border-radius: 8px;
        }

        @media (max-width: 365px) {
          height: 140px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .favourite {
          position: absolute;
          top: 20px;
          cursor: pointer;
          transform: translateX(-100%);
          transition: $transitions;

          @media (max-width: 500px) {
            top: 10px;
          }
        }

        .item-cart {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;

          @media (max-width: 500px) {
            top: 10px;
            right: 10px;
          }
        }

        .add-to-cart {
          background: $light-color;
          border: none;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 0;
          transition: $transitions;
          font-size: 16px;
          color: $white;
          transform: translateY(100%);
          cursor: pointer;

          @media (max-width: 767px) {
            font-size: 16px;
          }

          @media (max-width: 500px) {
            height: 50px;
            font-size: 14px;
          }
        }

        &:hover {
          .add-to-cart {
            transform: translateY(0);
          }

          .favourite {
            transform: translateX(0);
            left: 20px;

            @media (max-width: 500px) {
              left: 10px;
            }
          }
        }
      }

      .order-content {
        text-align: center;

        h3 {
          @include body-text(18px, 500, $text-color);
          margin-bottom: 5px;
        }

        p {
          @include body-text(15px, 700, $text-color);
          margin-bottom: 16px;

          @media (max-width: 565px) {
            font-size: 13px;
            margin-bottom: 10px;
          }
        }

        button {
          @include body-text(16px, 600, $text-color);
          background: none;
          border: none;

          @media (max-width: 767px) {
            font-size: 16px;
          }

          @media (max-width: 565px) {
            font-size: 14px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .view-all {
    @include buttons($primary-color);
    margin: 80px auto 0 auto;
    padding: 15px 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    @media (max-width: 350px) {
      width: 100%;
    }
  }
}
